<div>
  <form [formGroup]="addForm">
    <input type="text" placeholder="Enter Date" formControlName="date" />
    <input type="text" placeholder="Enter Title" formControlName="title"/>
    <input type="text" placeholder="Enter Description" formControlName="description" />

    <label for="priority">Priority</label>
    <select name="Priority" formControlName="priority" id="priority">
      <option value="low" >Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <br>
    <br>
    <button type="submit" (click)="addTask()"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Submit </button>
  </form>
</div>
